body{
	background-color:#f4f4f4;
	color:rgb(181, 71, 255);

	font: normal 20px Arial,Helvetica,sans serif;

	line-height: 4.6em;
	margin: 4em;
	padding: 20px; 

}
header{
	background-color: #35424a;
	color:#f4f4f4;
	padding-top:10px;
	min-height:50px;
	border-bottom:rgb(181, 71, 255) 3px solid;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
center{
  border: 1.6em rgb(181, 71, 255) solid;
  padding:20px;
}
h1{
	color:#f4f4f4;
}

.box-1{
	background-color: #35424a;

}